li {
    margin-bottom: 2px;
}

a {
    text-decoration: underline;
    color: #9C8B7E;
}

a:hover {
    color: #555;
}

@media screen and (max-width: 768px) { /* mobile devices & tablets - screen width <= 768px */

    ul {
        line-height: 1.3; /* adding more space between post links on mobile for more accurate selection */
    }
}