/* Projects.html CSS */

.project-block {
    margin: auto;
    margin-top: 10px;
    width: 60%;
    display: block;
    background-color: #9C8B7E;
    border-style: solid;
    border-width: 2px;
    border-color: #9C8B7E;
    border-radius: 15px;
  }
  
  .project-block p {
    text-align: center;
    width: 100%; /* set to fill 100% of container class block */
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .project-block a {
    color: white;
  }