body {
  font-size: 16px;
  box-sizing: border-box; /* contains in parent */
}

* {
  box-sizing: inherit; /* inherits "box-sizing: border-box" above for all elements */
}

.wrapper {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /* padding: 5px (commented out to make background color full screen) */
  background-color: #D5D2CD;
}

.topnav {
  overflow: hidden;
  text-align: center;
  font-family: 'Quicksand', serif;
}

/* CSS for hamburger icon */
.topnav .icon {
  display: none; /* set so icon does not display, turned on for mobile devices below */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  width: 8em;
  color: black;
}

.topnav a:last-child {
  float: right;
  width: 8em;
}

/* Change the color of topnav links on hover */
.topnav a:hover {
  background-color: #9C8B7E;
  color: white;
  font-size: 18px;
}

.article {
  background-color: #D5D2CD; /* main background color, doesnt effect wrapper, topnav, or footer */
  margin-left: auto;
}

.article a {
  color: #0B2265;
  text-decoration: none;
}

.header {
  text-align: center;
}

.footer {
  width: 100%;
  height: 5%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  clear: both;
  background-color: #9C8B7E;
  color: black;
}

.footer a {
  color: white;
  text-decoration: none;
}

.block {
  margin: auto;
  margin-top: 10px;
  width: 60%;
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 15px;
}

.block p {
  text-align: center;
  width: 100%; /* set to fill 100% of container class block */
  padding-left: 10px;
  padding-right: 10px;
}

.home-block {
  margin: auto;
  margin-top: 10px;
  width: 60%;
  display: block;
}

.home-block p {
  text-align: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.home-block ul {
  text-align: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.am-img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

@media screen and (max-width: 768px) { /* mobile devices & tablets - screen width <= 768px */
  .block {
    width: 90%;
  }

  .text {
    width: 90%;
  }

  .topnav a:not(.icon) { /* all topnav links not with class 'icon' (all except hamburger icon) do not display before icon pressed */
    display: none;
  }
  
  .topnav .icon { /* icon now displays */
    float: right;
    display: block;
    cursor: pointer;
    padding: 14px 16px;
    color: black;
  }

  .topnav.responsive a.icon {
    background-color: #9C8B7E; /* sets the background color to contrast rest of links so users know its active */
    position: absolute;
    top: 0;
    right: 0;
  }

  .topnav.responsive a { /* topnav links including icon after icon pressed*/
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive a:not(.icon) { /* topnav links NOT including icon after icon pressed */
    width: 70%;
    text-align: center;
  }

  .am-img {
    width: 30%;
    height: 30%;
    max-width: 100%;
  }

  .home-block {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    display: block;
  }
}
