body {
  font-size: 16px;
  box-sizing: border-box; /* contains in parent */
}

* {
  box-sizing: inherit; /* inherits "box-sizing: border-box" above for all elements */
}

.wrapper {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.topnav {
  background-color: #0B2265;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  width: 8em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #0B2265;
}
  
.topnav-right {
  float: right;
}

.article {
  background-color: white;
  margin-left: auto;
}

.article a {
  color: #0B2265;
  text-align: center;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: #0B2265;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  clear: both;
}

.footer a {
  color: white;
  text-decoration: none;
}

li.block {
  display: grid;
  float: left;
  width: 100%;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
}

li.block p {
  text-align: left;
  width: 100%; /* set to fill 100% of container class block */
}