<div class="footer">
    <div class="nav">
      <ul>
        <li> <a href="/index.html"> Home </a> </li>
        <li> <a href="/resume.html"> Resume </a> </li>
        <li> <a href="/projects.html"> Projects </a> </li>
        <li> <a href="/blog.html"> Blog </a> </li>
        <li> <a href="/contact.html"> Contact </a> </li>
      </ul>
    </div>
    <div class="icons">
      <p>
        <a href="https://github.com/Francis-McKee" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github fa-2xl"></i></a>
        <a href="https://www.linkedin.com/in/francis-mckee-7338311a6/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a href="https://tank-games.itch.io" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-itch-io fa-2xl"></i></a>
      </p>
    </div>
    <div class="info">
      <p> <a href="/privacy-policy.html"> Privacy Policy </a> </p>
      <p> <a href="/licensing.html"> Licensing </a> </p>
      <p> <a href="/sitemap.xml"> XML Sitemap </a> </p>
    </div>
    <div class="copy">
      <p> &copy; 2022-2025 Francis McKee </p>
    </div>
</div>