<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JPZKWC3VE2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JPZKWC3VE2');
</script>

<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2198575580978274"
 crossorigin="anonymous">
</script>

<!-- FontAwesome icon library -->
<script src="https://kit.fontawesome.com/84cb529d33.js" crossorigin="anonymous"></script>

<!-- Quicksand Bold 700 -->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">

<!-- Firebase fnmckee-authentication -->
<script type="module">
  // Import the necessary Firebase modules
  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.2.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.2.0/firebase-analytics.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/11.2.0/firebase-auth.js";

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyBBTiBF5JvaVgEl3R19KNN1RaKaozebiqk",
    authDomain: "fnmckee-authentication.firebaseapp.com",
    projectId: "fnmckee-authentication",
    storageBucket: "fnmckee-authentication.firebasestorage.app",
    messagingSenderId: "66512560822",
    appId: "1:66512560822:web:09f3514888d4e00f0abc17",
    measurementId: "G-KTMMERNNHN"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);

  // Initialize Firebase Authentication
  const auth = getAuth(app);

  // Export auth for use in other scripts
  window.firebaseAuth = auth;
</script>
