<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JPZKWC3VE2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JPZKWC3VE2');
</script>

<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2198575580978274"
 crossorigin="anonymous">
</script>

<!-- FontAwesome icon library -->
<script src="https://kit.fontawesome.com/84cb529d33.js" crossorigin="anonymous"></script>

<!-- Quicksand Bold 700 -->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
