---
layout: default
title: Genesis
permalink: /theology/genesis/
---
<link rel="stylesheet" href="/css/category.css" type="text/css">

<i class="fa-solid fa-arrow-left"></i> <a href="{{ '/categories/theology/' | relative_url }}"> Back to theology category </a>


<h1> Genesis </h1>

<ul>

{% assign genesis_posts = site.posts | sort: "date" %}

{% for post in genesis_posts %}

{% if post.path contains "_posts/theology/genesis/" %}

<li>
<a href="{{ post.url }}">{{ post.title }}</a>
</li>

{% endif %}

{% endfor %}

</ul>