---
layout: default
title: Leviticus
permalink: /theology/leviticus/
---
<link rel="stylesheet" href="/css/category.css" type="text/css">

<i class="fa-solid fa-arrow-left"></i> <a href="{{ '/categories/theology/' | relative_url }}"> Back to theology category </a>


<h1> Leviticus </h1>

<ul>

    {% assign leviticus_posts = site.posts | sort: "date" %}

    {% for post in leviticus_posts %}

        {% if post.path contains "_posts/theology/leviticus/" %}

            <li>
                <a href="{{ post.url }}">{{ post.title }}</a> {% if post.description %} - {{ post.description }} {% endif %}
            </li>

        {% endif %}

    {% endfor %}

</ul>