---
layout: default
title: Genesis
permalink: /theology/romans/
---
<link rel="stylesheet" href="/css/category.css" type="text/css">

<i class="fa-solid fa-arrow-left"></i> <a href="{{ '/categories/theology/' | relative_url }}"> Back to theology category </a>


<h1> Romans </h1>

<ul>

{% assign romans_posts = site.posts | sort: "date" %}

{% for post in romans_posts %}

{% if post.path contains "_posts/theology/romans/" %}

<li>
<a href="{{ post.url }}">{{ post.title }}</a>
</li>

{% endif %}

{% endfor %}

</ul>