---
layout: default
---

<link rel="stylesheet" href="/css/post.css" type="text/css">

<head>

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  
  {% include imports.html %} 

  <title>{{ page.title }}</title>

</head>

<h1>{{ page.title }}</h1>

<p>
  {{ page.date | date_to_string }}

  {% assign category = site.categories | where: 'short_name', page.category | first %}

  {% if category %}
    - <a href="{{ category.url }}">{{ category.name }}</a>
  {% endif %}
</p>

{{ content }}

<br>
<br>

<div class="share-buttons">
  <b> Share: </b>
  <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}" target="_blank"> <i class="fa-brands fa-x-twitter fa-2xl"></i> </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank"> <i class="fa-brands fa-square-facebook fa-2xl"></i> </a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" target="_blank"> <i class="fa-brands fa-linkedin fa-2xl"></i> </a>
  <a href="mailto:?subject={{ page.title }}&body={{ page.url | absolute_url }}" target="_blank"> <i class="fa-solid fa-envelope fa-2xl"></i> </a>
</div>

<br>
<br>

{% if page.comments %}
  <div class="comments-container">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ page.url | absolute_url }}";
            this.page.identifier = "{{ page.id }}";
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://fnmckee.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
{% endif %}
